<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project Daw1</title>

  <!-- Bootstrap core CSS -->
  <% csrf_meta_tags %>
  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag "modern-business ", media: "all", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    "application", :media => "all", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag    "application", 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%= link_to "Bassano", root_path, :class => "navbar-brand"%>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
                      <%= link_to "About", about_index_path, :class => "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Catalog", catalog_index_path, :class => "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_index_path, :class => "nav-link"%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              FFU
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="#">Page 1</a>
              <a class="dropdown-item" href="#">Page 2</a>
              <a class="dropdown-item" href="#">Page 3</a>
              <a class="dropdown-item" href="#">Page 4</a>
              <a class="dropdown-item" href="#">Page 5</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-user"></i>
            </a>
            <% if logged_in? %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <%= link_to "Your Account", user_show_path, :class => "dropdown-item"%>
              <%= link_to "Log Out", logout_path, :class => "dropdown-item"%>
            </div>
            <% else %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <%= link_to "Login", sessions_welcome_path, :class => "dropdown-item"%>
              <%= link_to "Register", sessions_new_path, :class => "dropdown-item"%>
            </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Catalog
      <small><%=params[:category]%></small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", homepage_index_path%>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Catalog", catalog_index_path%>
      </li>
      <li class="breadcrumb-item active">
        <%= link_to params[:category], catalog_show_path(:category => params[:category])%>
      </li>
    </ol>

    <!-- Content Row -->
    <div class="row">

      <div class="col-lg-2" height="100">
        <ul class="list-group">
          <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
              <% @products.select("DISTINCT(CATEGORY)").each  do |product| %>
              <li class="list-group-item list-group-item-action">
                <%= link_to product.category,catalog_show_path(:category => product.category),{'data-toggle' => "collapse",'data-parent' =>"#accordion",'aria-expanded' => "true",'aria-controls'=>"collapseOne"} %>
                <% if product.category == params[:category] %>
                  <div id="DesktopNavSide" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <% else %>
                  <div id="DesktopNavSide" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <% end %>
                  <div class="card-body">

                    <a href="#">Section 1</a><br>
                    <a href="#">Section 2</a><br>
                    <a href="#">Section 3</a><br>
                    <a href="#">Section 4</a><br>

                  </div>
                </div>
              </li>
              <% end %>
          </div>
        </ul>
      </div>


    <div class="container d-block col-lg-10">
        <div class="row w-100">
            <% @selected.each  do |product| %>
              <div class="col-lg-3 col-sm-6 portfolio-item">
                <div class="card h-100">
                  <a><%= image_tag("/images/imagecat.jpg",class: "card-img-top") %></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <%= link_to product.title,products_show_path(:id => product.id) %>
                    </h4>
                    <p class="card-text" id="article_catalog_desc_0"></p>
                  </div>
                  <div class="card-footer">
                    <%= link_to "Learn More",products_show_path(:id => product.id),class:"btn btn-primary" %>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
    </div>
   </div>
</div>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
